DJANGO_SECRET_KEY=__YOUR_SECRET_KEY__
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=yourdomain.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://yourdomain.com

DATABASE_URL=postgres://__USER__:__PASSWORD__@__HOST__:5432/__DB_NAME__
REDIS_URL=redis://__REDIS_HOST__:6379/0
